<div style="background: linear-gradient(45deg, #28a745, #17a2b8);height: 45em;">
<div style="padding: 10%;">
<div style="background: white;
margin: auto;
padding: 5% 0% 7% 0%;
width: 25%;
border-radius: 10px;">
  <div style="text-align: center;padding:5% 0;">
    <input id="userid" placeholder="username" style="border-radius: 5px;border: 1.5px solid #28a745;" type="text">
  </div>
  <div style="text-align: center;padding:5% 0%;">
    <input id="passwordid" placeholder="password" style="border-radius: 5px;border: 1.5px solid #28a745;" type="password">
  </div>
  <div (click)="loginData()" style="width: 59%;
  margin: 20px auto 0px;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  padding: 1%;
  background: #009688;
  color: white;">Login</div>
</div>
</div>
</div>